* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color: rgb(247, 247, 248);
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(64, 61, 66);
    padding: 5px;
    height: 75px;
    border: 1px solid rgb(14, 13, 13);
}
ul li{
    list-style: none;
    display: inline;
    position: relative;
    top: 15px;
}

ul li a{
    color: black;
    font-size: 18px;
    padding: 5px;
    background-color: rgb(93, 163, 243);
    border-radius: 0,5px;
    text-decoration: none;
    
}
ul li a:hover{
    box-shadow: 1px 2px 4px rgb(14, 145, 168);
    border: 1.5px solid rgb(255, 255, 255);
}

#bem-vindo{
    font-size: 35px;
    position: relative;
    left: 45px;
}

footer{
   position: relative;
   left: 650px;
}