* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color: rgb(45, 171, 255);
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(42, 42, 43);
    padding: 5px;
    height: 75px;
    border: 1px solid rgb(14, 13, 13);
} 

#bem-vindo{
    color: white;
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
}

#menu {
    width: 350px;
    height: 520px;
    border: 1px solid black;
    margin-top: 50px;
    margin-right: 0;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 5px 5px 10px black;
    background-color: white;
}

nav ul li {
    list-style: none;
    margin: 20px 35px 20px 0px;
    font-size: 1.3rem;
    background-color: rgb(45, 171, 255);
    color: white;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    padding: 2px;
}

nav ul li:hover {
    background-color: rgb(17, 63, 94);
}

main {
    width: 350px;
    height: 520px;
    border: 1px solid black;
    margin: -520px 0px 0px 400px;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    display: none;
}

footer{
   text-align: center;
}