* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color: rgb(45, 171, 255);
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(42, 42, 43);
    padding: 5px;
    height: 75px;
    border: 1px solid rgb(14, 13, 13);
} 

#bem-vindo{
    color: white;
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
}

section {
    width: 450px;
    height: 400px;
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    background-color: white;
}

footer{
   text-align: center;
}